@import url("variables.css");

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: var(--tipografiaGeneral);
}

/*HEADER*/
.carrito {
  display: flex;
  justify-content:space-between;
  align-items:center;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid black; 
  margin-bottom: 20px;
  box-sizing: border-box;
}

.titulo {
    padding-top: 40px;
    margin-left: 40px;
}



/*PRODUCTOS*/

.contenido{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.productos{
  display: flex;
  flex: 75%;
  flex-direction: column;
}

.resumen{
  display: flex;
  flex: 25%;
  flex-direction: column;
}

.producto{
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-producto{
  flex: 1;
}

img{
  flex: 1;
  margin-left: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 30px;
  border-radius: 9px;
  width: auto;
  height: auto;
  object-fit: cover;
  display: block;
}


.cantidad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 50px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 0 10px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.cantidad button {
  background: none;
  border: none;
  color: #007bff;
  font-size: 20px;
  cursor: pointer;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cantidad .numero {
  font-size: 18px;
  color: #333;
  width: 30px;
  text-align: center;
}

.eliminar{
  flex: 0 0 auto;
  margin-right: 150px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
  border: 1px transparent;
  background-color: white;
  font-size: x-large;

}

/* RESUMEN DE COMPRA*/

.resumen{
  width: 100%;
  height: 450px;
  border: 1px solid #ddd;
  margin-right: 20px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: relative;
}
.resumen h2{
  font-size: 30px;
  margin-bottom: 15px;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}
.cuenta{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
.cuenta-final{
  border-top: 2px solid #eee;
  padding-top: 20px;
  font-size: 20px;  
  display: flex;
  justify-content: space-between;
}


.boton-compra {
  margin-top: 20px;
  width: 100%;
  padding: 10px 0;
  background-color:rgb(18, 129, 18);
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}
.boton-compra a{
  color: #333;
}







