body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

/*HEADER*/
.carrito {
    display: flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
    height: 70px;
    border: 2px solid black;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.titulo {
    flex: 3;
    padding: 7px;
}

.cantidad-items {
    flex: 1;
    text-align: right;
    padding: 12px;
}

/*PRODUCTOS*/

.contenido{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.productos{
  display: flex;
  flex: 3;
  flex-direction: column;
  border: 1px solid red;
}

.resumen{
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid blue;
}

.producto{
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-producto{
  flex: 1;
}

img{
  flex: 1;
  margin-left: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 30px;
  border-radius: 15%;
}

.cantidad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 50px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 0 10px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.cantidad button {
  background: none;
  border: none;
  color: #007bff;
  font-size: 20px;
  cursor: pointer;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cantidad .numero {
  font-size: 18px;
  color: #333;
  width: 30px;
  text-align: center;
}



.eliminar{
  flex: 1;
  margin-left: 40px;
  border: 1px transparent;
}

.cuentas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cuentas p{
  text-align: left;
  width: fit-content;
  justify-content: center;
  padding: 10px;
  
}
.cuentas span{
  text-align: center;
  margin-left: 50px;
}

.precio-final{
  border-top: 2px solid black;
}





