/* Esta es la parte del formulario de las consultas */
.formularioPreguntas{
display: flex;
justify-content: center;
width: 100%;
margin: 60px;
}
.formConsultas{
    border: 3px solid rgb(100, 78, 78);
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(156, 163, 163) ;
}

.formConsultas .tituloConsultas{
    display: flex;
   justify-content: center;
}
.formConsultas .texareaConsulta textarea{
width: 100%;
  height: 220px;
  resize: none;
}
.tituloConsultas{
    font-weight: bolder;
}
.botonesConsultas{
    display: flex;
    justify-content: space-between;
}
.botonesConsultas a{
    text-decoration: none;
    margin-top: 20px;

}
.botonesConsultas  .botonEnviar{
    &:hover{
        color: rgb(115, 226, 93);
        transform: scale(1.2);
    transition: transform 0.3s, box-shadow 0.4s;
    cursor: pointer;
    }
}
.botonesConsultas  .botonCancelar{
    &:hover{
        color: rgb(206, 25, 19);
        transform: scale(1.2);
    transition: transform 0.3s, box-shadow 0.4s;
    cursor: pointer;
    }
}




/* Esta es la parte de los logos de las redes  */
.redesContacto{
    justify-content: center;
    text-align: center;
    margin: 60px;
}
.redesContacto a{
    &:hover {
    transform: scale(1.08);
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.8); 
    border-color: #78c7d3;
    transition: transform 0.4s, box-shadow 0.4s;
    cursor: pointer;
    }
    margin: 30px;
}
/* Esta es la parte del iframe con la direccion */
.SecIframe-Direc{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 60px;
    margin-top: 60px;

}

.Info-dire{
    border: solid 2px;
    margin: 30px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #bcdbdf;
    &:hover {
    transform: scale(1.08);
    box-shadow:  0 4px 8px rgba(26, 25, 25, 0.8); 
    border-color: #e73922;
    transition: transform 0.4s, box-shadow 0.4s;
    }
}
.Info-dire .pe{
    font-weight: 400;
    font-size: medium;
}
.iframe-dire{
    border: solid 3px;
    padding:8px ;
    border-radius: 20px;
}