.tarjeta {
    transition: transform 0.3s;
    margin-bottom: 1.5rem;
    width: 100%;
}

.cuerpo-tarjeta {
    padding: 1rem;
}

.titulo-tarjeta {
    font-size: 1.25rem;
    font-weight: bold;
}

.texto-tarjeta {
    color: #6c757d;
    margin-bottom: 1rem;
}

.precio {
    font-weight: bold;
    color: var(--blueDark);
    font-size: 1.2rem;
}

.encabezado-categoria {
    color: white;
    padding: 3rem 0;
}

.card {
    max-height: 300px;
    overflow: hidden;
}

.card-img-top {
     
    height: 150px;
    object-fit: cover;
}

.card-compactar {
    max-height: 250px;
    overflow: hidden;
    font-size: 0.85rem;
}

.card-compactar .card-img-top {
    height: 150px;
    object-fit: contain;
    object-position: center;
}

.card-compactar .card-title {
    font-size: 0.85rem;
    margin-bottom: 0.3rem;
}

.card-compactar .card-text {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.card-compactar .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
}