.category-card {
  transition: all 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
  &:hover {
    transform: scale(1.1);
  }
}
.category-card .card-img-top {
  height: 120px;
  object-fit: contain;
  padding: 15px;
}


.category-card .card-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.category-card .card-text {
  font-size: 0.8rem;
  margin-bottom: 0.75rem;
}

.category-card .btn-outline-primary {
  border-width: 1.5px;
  font-size: 0.8rem;
  padding: 0.25rem 0.75rem;
}

