*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-family: var(--tipografiaGeneral);
}

h2{
    font-family: var(--tipografiaGeneral);
}

p{
    font-family: var(--tipografiaGeneral);
}

a{
    font-family: var(--tipografiaGeneral);
    text-decoration: none;
}

body{
    width: 100%;
    font-family: var(--tipografiaGeneral);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
flex-grow: 1
}

.bg1{
    background-color: var(--azul);
}

.bg2{
    background-color: var(--crema);
}

.bg3{
    background-color: var(--rosaCrema);
}

.bg4{
    background-color: var(--rojo);
}

.ct1{
    color: #faf7f3;
}

.ct2{
    color: #212121;
}

.ct3{
    color: #2a1458;
}

.ct4{
    color: #000000;
}

.carousel-item{
    height: 500px;
    align-items: center;
}
