.calificacion {
  color: #ffc107;
}

.galeria-producto {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}


.encabezado {
  font-weight: bold;
  font-size: 1.1rem;

}

/* darle color negro default y despues rojo al elemento del fontawesome*/

a .fa-heart {
  color: rgb(8, 0, 0);
  &:hover {
    color: red
  }
}

.carrito-boton {
  background-color: #87e2a1;
  color: aliceblue;
  &:hover {
    color: aliceblue;
    background-color: rgb(17, 110, 29);
  }
}


.btn-comprar {
  background-color: rgb(16, 161, 16);
  color: rgb(15, 2, 2);
  font-weight: bold;
  padding: 10px 20px;
}

.titulo-card {
  font-size: 1.4rem;
  padding-bottom: 5px;
}
.seccion-comentarios {
  border-radius: 0.5rem;
  padding: 20px;
}

.precio {
  font-weight: bold;
  color: rgb(2, 27, 2);
  font-size: 2.5rem;
}

.reseñas-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
