.publicity-phone{
    width:100vw;
    height: auto;

}
.phone-ad{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    padding: 20px;
    box-sizing: border-box; 
}

.phone-ad h2,
.phone-ad p,
.phone-ad img{
margin: 15px auto;
max-width: 90%; 
text-align: center;
color: black;
background-color: white;
border-radius: 10px;
padding: 10px;

}
.phone-ad img{
    margin-left: 5%;
    height: 40%;
    width: 100%;
}

.close-ad{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
    text-decoration: none;
    z-index: 9999;
}
.icon_contacto{
position: fixed;
width: 70px;
bottom: 2%;
left: 4%;
transition: all .2s ease;
z-index: 9999;
opacity: 60%;
&:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 3px black);
    transform: rotate(10deg);
    opacity: 100%;
}
}


aside {
  position: relative; 
  top: 110px; 
  right: 0; 
  width: 100px;
  z-index: 9999; 
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  opacity: 0.7;
  &:hover{
    opacity: 1;
  }
}

.aside-index{
  position: fixed;
  top: 110px;
  width: 215px;
}

aside .card {
  text-align: center; 
  background-color: #f8f9fa; 
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

aside img {
  max-width: 100%; 
  height: auto; 
  border-radius: 5px;
}


@media (max-width: 768px) {
  aside {
    position: relative; 
    top: 0; 
    right: 0; 
    width: 100%; 
    margin-top: 20px; 
  }
}
@media (max-width: 460px){
    aside{
        display: none;
    }
}