*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-family: var(--tipografiaGeneral);
}

h2{
    font-family: var(--tipografiaGeneral);
}

p{
    font-family: var(--tipografiaGeneral);
}

a{
    font-family: var(--tipografiaGeneral);
    text-decoration: none;
}

body{
    width: 100%;
    font-family: var(--tipografiaGeneral);

    justify-content: center;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.carousel-item{
    height: 500px;
    align-items: center;
}

.slider{
    border: 1px solid #f3f3f3;
    border-radius: 20px;
}