:root {
    --navColor: #B8001F;
    --titleColor: #194e86;
    --fontColor: #23b46b;
    --buttonColor: #684e52;
    --section1Color: #f5f5f5;
    --section2Color: #c2bdbe;
    --FooterColor: #000000;
}